
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    padding-top: 5rem;
}
.footer{
    padding:32px;
    margin-top: 64px;
}
.form-login {
    max-width: 330px;
    padding: 15px;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bg-grey{
    background-color: grey;
    color: black;
}

.btn-pad{
    padding: 20px;
}

.product-card{
    height:70vh;
    flex: 0 0 25%; 
    /* flex-basis: calc(25% - 16px); */
    max-width: 25%; 
    padding:24px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
    border-radius:8px;
    
}
.product-img{
    height: 50%; 
    width: 100%;
    margin-bottom:16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* object-fit: cover; */
    object-fit: contain;
    object-position: top; 
}
.btn-section{
    margin-top:16px;
    display: flex;
    flex-direction:column;
}
.product-price{
    font-size:20px;
    font-weight:600;
    color: grey;
}
.product-title{
    margin-top: 16px;
    font-size: 20px;
    white-space: nowrap;
}
.product-description{
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
}
.product-grid{
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    gap:32px;
    justify-content: space-between;
}


.appointments{
    width: 100%;
    list-style: none;
}
table.appointments {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px; 
    background-color: #f9f9f9; 
}

table.appointments th {
    background-color: rgb(57, 57, 175);
    color: white; 
    text-align: left;
    padding: 12px 15px; 
    border-bottom: 1px solid #ddd; 

}
table.appointments td {
    padding: 8px 15px; 
    border-bottom: 1px solid #ddd; 
}

table.appointments tr:nth-child(odd) {
    background-color: #ffffff; 
}

table.appointments tr:nth-child(even) {
    background-color: #f2f2f2; 
}


table.appointments tr:hover {
    background-color: #ddd; 
}