{% extends "base.html" %}

{% block main %}

{% include "dashboard_header.html" %}
<h1>Dashboard2</h1>
    <h2>Products</h2>
    <div class="container mt-5">
        <div class="row">
            {% for product in products %}
            <div class="col-md-3 mb-4 product-card">
                <div class="">
                    <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
                    <!-- <img src="{{ product.image_filename }}" class="card-img-top" alt="Product Image"> -->
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <!-- <p class="card-text">{{ product.description }}</p> -->
                        <p class="card-text">Price: ${{ product.price }}</p>
                        <p class="card-text">Quantity: {{ product.quantity }}</p>
                        <hr>
                        <a href="{{ url_for('view_product_d', product_id=product.id) }}" class="btn btn-primary">View</a>
                        <a href="{{ url_for('edit_product', product_id=product.id) }}" class="btn btn-primary">Edit</a>
                        <hr>
                        <a href="{{ url_for('delete_product', product_id=product.id)}}" class="btn btn-danger">Remove</a>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}



