{% extends "base.html" %}

{% block main %}
<h1>Edit Product</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div>
            {{ form.name.label }}: {{ form.name }}
        </div>
        <div>
            {{ form.price.label }}: {{ form.price }}
        </div>
        <div>
            {{ form.description.label }}: {{ form.description }}
        </div>
        <div>
            {{ form.quantity.label }}: {{ form.quantity }}
        </div>
        <div>
            {{ form.category.label }}: {{ form.category }}
        </div>
        <div>
            {{ form.weight.label }}: {{ form.weight }}
        </div>
        <div>
            {{ form.image.label }}: {{ form.image }}
        </div>
        <button type="submit">Update Product</button>
    </form>
{% endblock %}