{% extends "base.html" %}

{% block main %}
<h1>Edit Product</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div>
            {{ form.name.label(class="form-label") }}: {{ form.name(class="form-control") }}
        </div>
        <div>
            {{ form.price.label(class="form-label") }}: {{ form.price(class="form-control") }}
        </div>
        <div>
            {{ form.description.label(class="form-label") }}: {{ form.description(class="form-control") }}
        </div>
        <div>
            {{ form.quantity.label(class="form-label") }}: {{ form.quantity(class="form-control") }}
        </div>
        <div>
            {{ form.category.label(class="form-label") }}: {{ form.category(class="form-control") }}
        </div>
        <div>
            {{ form.weight.label(class="form-label") }}: {{ form.weight(class="form-control") }}
        </div>
        <div>
            {{ form.image.label }}: {{ form.image }}
        </div>
        <button type="submit" class="btn btn-primary">Update Product</button>
    </form>
{% endblock %}