{% extends "base.html" %}

{% block main %}

<h1 class="page-header">Store</h1>
<!-- Search bar -->
<form class="form-inline my-2 my-lg-0" method="GET" action="{{ url_for('search') }}">
    <div class="input-group">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="query">
        <div class="input-group-append">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
    </div>
</form>

<div class="product-grid">
        {% for product in products %}
            <div class="product-card">
                <a href="{{ url_for('view_product', product_id=product.id) }}">
                    <img src="{{ product.image_url }}" class="product-img" alt="{{ product.name }}">
                </a>
                <div>
                    <h5 class="product-title">{{ product.name }}</h5>
                    <p class="product-description">{{ product.description }}</p>
                    <p class="product-price">${{ product.price }}</p>
                </div>
                <div class="btn-section">
                    <a href="{{ url_for('add_to_cart', product_id=product.id) }}" class="btn btn-primary ">Add to Cart </a>
                </div>
            </div>
        {% endfor %}
</div>
{% endblock %}